.header {
    height:50px;
    border-bottom:1px solid #e2e2e2;
    position:relative;
    font-family:"Microsoft Yahei";
}
.header .switch {
    height:45px;
    position:absolute;
    left:60px;
    bottom:0;
    font-size:16px;
}
.header .switch .switch_btn {
    color:#999;
    display:inline-block;
    height:45px;
    line-height:45px;
    outline:none;
    *hide-focus:expression(this.hideFocus=true);
}
.header .switch .switch_btn_focus {
    color:#333;
    display:inline-block;
    height:45px;
    line-height:45px;
    outline:none;
    *hide-focus:expression(this.hideFocus=true);
}
.header .switch .switch_btn:hover {
    color:#333;
    text-decoration:none;
}
.header .switch .switch_btn_focus:hover {
    text-decoration:none;
}
#switch_bottom {
    position:absolute;
    bottom:-1px;_bottom:2px;
    border-bottom:2px solid #848484;
}

.com{
    width:200px;
}